
//- include ./data.pug

- var lang = "ru"

doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../scss/style.scss")
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap" rel="stylesheet")
    title Document
  body
    main.page
      h1 Georgia exam
      .page__header
        h2.page__title Экоменеджмент (ეკო-მართვა)
        p.page__subtitle 51 билет (სულ 51 ბილეთი)

      mixin card(dataCard = {})
        article.card
          .card__num ##{dataCard.number}
          p.card__question=dataCard.question
          .card__answer-list
            each answer, i in dataCard.answers
              button.card__answer(data-correct-answer=(answer.correct ? "true" : null))
                span.card__answer-num=i+1
                span.card__text=answer.text

      ul.page__list
        each card in cards
          li.page__card
            +card(card.ru)

      script(src="../ts/script.ts")
